[rules]
    # Example of rule for MPlayer
    [rule]
        instance      = "xv"       # First part of WM_CLASS
        class         = "MPlayer"  # Seconf part of WM_CLASS, not needed if first part is correct
        # role        = ""         # WM_WINDOW_ROLE
        screen        = 0          # Screen to use
        tag           = 1          # Tag number of apps
        free          = true       # Set automatic free client
        max           = false      # Set automatic maximized client
        follow_client = false      # follow the client
        ignore_tags   = false      # ignore tag (free mode)
    [/rule]

    [rule]
        instance      = "Navigator"
        class         = "Firefox"
        screen        = 0
        tag           = 0
        follow_client = true
        ignore_tags   = false
    [/rule]

    [rule]
        instance      = "skype"
        class         = "Skype"
        screen        = 0
        tag           = 4
        follow_client = true
        ignore_tags   = false
    [/rule]
    [rule]
        instance      = "nautilus"
        class         = "Nautilus"
        screen        = 0
        tag           = 4
        follow_client = true
        ignore_tags   = false
    [/rule]
    [rule]
        # use instance = "*" for a all-clients rule
        instance = "chromium"

        # role   = ""
        # name   = ""
        # theme  = "default"

        tag    = 1  # 2nd tag
        screen = 0

        free       = false
        tab        = false
        ignore_tag = false
    [/rule]
[/rules]

